@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
}
